@import url(https://fonts.googleapis.com/css?family=Lobster);
body{
  font-family: lobster;
  text-align: center;
  background: black;
  color: #808099;
}

.items{
    text-align: left;
    font-style: italic;
}

.principal{
    background:#2b1016;
    padding:30p;
}

.beneficios{
    background:#000000;
}

ul{
    display:inline-block;
    vertical-align:top;
    width:20%;
    margin-right:15%;
    padding:20px;
}

.titulo-principal{
    text-align: left;
    padding-left: 20px;
}

.imagembeneficios{
    width:15%;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista_link a:hover{
    color: var(--botao-azul);
}

.lista_link a:active{
    color: purple; 
}

.container_botao:hover{
    background-color: #3c92fa;
    color: var(--cor-de-fundo);
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}