@import url(https://fonts.googleapis.com/css?family=Lobster);
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C; 

}

body{
  font-family: lobster;
  text-align: center;
  background: black;
  color: #808099;
}

.items{
    text-align: left;
    font-style: italic;
}

.principal{
    background: #2b1016;
    padding:30p;
}

.beneficios{
    background: #000000;
}

ul{
    display:inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 15%;
    padding: 20px;
}

.titulo-principal{
    text-align: left;
    padding-left: 20px;
}

.imagembeneficios{
    width: 15%;
}

.imagemcacadores{
    width: 10%;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape_logo{
    width: 10%;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}